.subirImagen{
    padding:10px;
    background: none;
    border:0px solid #1E90FF;
}
.subirPdf{
    padding: 5px 10px;
    background: none;
    
    border:0px solid #1E90FF;
}
.texto_imagen_sub{
    color:#000000;
    text-align: center;
}

    .subirImagen img {
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
    }
    .subirImagen:hover img {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
    }
    .subirImagen {/*Ancho y altura son modificables al requerimiento de cada uno*/
    width:80px;
    overflow:hidden;
    }
    .subirPdf img {
        -webkit-transition:all .9s ease; /* Safari y Chrome */
        -moz-transition:all .9s ease; /* Firefox */
        -o-transition:all .9s ease; /* IE 9 */
        -ms-transition:all .9s ease; /* Opera */
        width:100%;
        }
    .subirPdf:hover img {
        -webkit-transform:scale(1.25);
        -moz-transform:scale(1.25);
        -ms-transform:scale(1.25);
        -o-transform:scale(1.25);
        transform:scale(1.25);
        }
    .subirPdf {/*Ancho y altura son modificables al requerimiento de cada uno*/
        width:80px;
        overflow:hidden;
        }
    .existe-error {
        color:rgb(206, 3, 3);
        }