html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.img-logo {
    width: 18%;
    height: 18%;
}
.nav-color{
    background-color: #86898d;
}
.nav-titulo{
    display: block;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.my-nav:hover{
    background-color: transparent;
    text-decoration: none;
    color:white;
}
.nav-otros{
    padding-right: .5rem;
    padding-left: .5rem;
    color: white;
    display: block;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.my-nav-otros:hover{
    background-color: transparent;
    text-decoration: none;
    color:black;
}